<h1>項目一覧<!-- Listing menuitems --></h1>

<div >
リリース：
<%= collection_select :release, :id, Release.ordered, :id, :name, prompt: 'すべて' %>
</div>

<table>
	<thead >
  <tr>
    <th>リリース<!-- Release --></th>
    <th>品名<!-- Product.Title.name --></th>
    <th>サイズ<!-- Product.size --></th>
    <th>価格<!-- Product.price --></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody id="index_tbody" >
<%= render 'index_tbody' %>
	</tbody>
</table>

<br />

<%= link_to '項目追加', new_menuitem_path %>
