// Place all the styles related to the line_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// vim:ts=4:sw=4

@import "defaults";

div.field {
	input#line_item_id {
		text-align: right;
		width: 4em;
	}
	input#line_item_order_id {
		text-align: right;
		width: 4em;
	}
	input#line_item_product_id {
		text-align: right;
		width: 4em;
	}
	input#line_item_quantity {
		text-align: right;
		width: 4em;
	}
	input#line_item_total_price {
		text-align: right;
		width: 4em;
	}
}

table.line_items {
	@include table-default;
}

