<div id="release_selector" >
リリース：
<%= collection_select :release, :id, Release.ordered, :id, :name, {}, {
	data: {remote: true, url: url_for(controller: :store, action: :summary_table_by_date)}
} %>
</div>
<div id="summary_table_by_date" >
</div>
